{{ "<!-- Footer section -->" | safeHTML }}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {{ range .Site.Params.footer.social }}
                    <li><a href="{{ .link }}"><i class="fa {{ .icon }}"></i></a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    {{ range .Site.Params.footer.quicklinks }}
                    <li><a href="{{ .link }}">{{ .text  | markdownify }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
            <p class="theme-by text-muted">
          <i style="vertical-align: middle">-- Advertisement --</i>
          </p>
              <p>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- NtAdsense -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6674509845232880"
     data-ad-slot="7443085854"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </p>
</footer>
